altgraph==0.17.3
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==39.0.2
greenlet==2.0.2
idna==3.4
Jinja2==3.1.2
macholib==1.16.2
MarkupSafe==2.1.2
numpy==1.24.2
oracledb==1.2.2
pandas==1.5.3
psycopg==3.1.8
psycopg-binary==3.1.8
psycopg2-binary==2.9.5
pycparser==2.21
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.1
pymssql==2.2.7
PyMySQL==1.0.2
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
six==1.16.0
SQLAlchemy==2.0.7
typing_extensions==4.5.0
urllib3==1.26.15
XlsxWriter==3.0.9
weasyprint==59.0
pyodbc==4.0.39
boto3==1.28.5
cx-Oracle==8.3.0
